body { margin: 0; padding: 0; font-family: Arial, sans-serif; }
header { background-color: #4a484d; color: white; padding: 5px; text-align: center; font-size: 1em; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }
#searchBar {
    padding: 8px;
    margin: 5px;
    font-size: 16px;
    width: calc(70% - 20px);
}
.breadcrumb { background-color: rgb(36, 34, 34); padding: 10px; box-shadow: 0 1px 2px rgba(0,0,0,0.1); margin-bottom: 10px; }
.breadcrumb a { margin-right: 5px; color: #c7bcd6; text-decoration: none; }
.breadcrumb span { margin-right: 5px; }
.gallery-container { padding: 4px; max-width: 100vw;  margin: auto; }
.grid { display: grid; grid-gap: 1px; grid-template-columns: repeat(3, minmax(33%, 1fr));  grid-auto-flow: dense;}
.grid-item { position: relative;  margin: 0px; }  /* Do no add display attribute to any of grid elements, should be controlled by filtering*/
.grid-item img, .grid-item video { width: 33vw; height: 33vw; border-radius: 4px; object-fit: cover;}
.grid-checkbox {width:10vw; height: 9vw; position: absolute; top: 0px; right:10px; display: none; opacity: 0.5; z-index: 1; }
.small-checkbox {width:30px; height: 30px;}
.directory-item { text-align:center; align-items: center; justify-content: center; align-self: center; width: 33vw; height: 50px; border-radius: 15px; background-color: rgb(210, 210, 0); font-size: 20px;}
.media-item {text-align:center}
.modal { display: none; position: fixed; z-index: 1; 
    left: 0; top: 0; width: 100%; height: 100%; 
    background-color: rgba(0,0,0,0.9);
    align-content: center;
}
.bottom-bar { display: block; position: fixed; z-index: 1; 
    left: 0; bottom: 0; width: 100%; height: 5%; 
    background-color: #4a484d;
    align-content: center;
}
.bottom-bar-btn { font-size: 16px;
}
.modal-media-container{
    position: absolute; z-index: 1; 
    left: 0; top: 0; width: 100%; height: 100%;
    align-content: center;
    overflow:scroll;
}
.modal img, .modal video { 
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
@-webkit-keyframes zoom { from { -webkit-transform: scale(0) } to { -webkit-transform: scale(1) } }
@keyframes zoom { from { transform: scale(0) } to { transform: scale(1) } }
.close { position: absolute; bottom: 20vh; left: 0; padding: 5px; color: #f1f1f1; font-size: 20px; font-weight: bold; transition: 0.3s; z-index: 2;}
/* .close:hover, .close:focus { color: #bbb; text-decoration: none; cursor: pointer; } */
.full-screen-btn {
    position: absolute;
    bottom: 15px;
    right: 90px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1; /* Ensure it's on top */
}
.full-screen-btn:hover, .full-screen-btn:focus {
    color: #bbb;
}
.prev, .next  {z-index: 1; cursor: pointer; position: absolute; width: 5vw; height: 5vw; 
    padding: 5px; margin-top: -50px; color: white; font-weight: bold; font-size: 20px; 
    transition: 0.6s ease; border-radius: 0 3px 3px 0; user-select: none; -webkit-user-select: none; }
/*.next { right: 0; border-radius: 3px 0 0 3px; }*/
.next { left: 0; border-radius: 3px 0 0 3px;  bottom:30vh; }
.prev { left: 0; border-radius: 3px 0 0 3px; bottom:40vh; }
/* .prev:hover, .next:hover { background-color: rgba(0, 0, 0, 0.2); } */
.zoom-btn {
    position: absolute;
    bottom: 20px;
    right: 130px;
    color: #f1f1f1;
    font-size: 26px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
}
/* Dropdown Menu Styles */
.menu-btn {
    position: absolute;
    top: 12px;
    right: 80px;
    color: #f1f1f1;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}
.modal-menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: #333;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 2;
    border-radius: 4px;
}
.modal-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.modal-menu a:hover {
    background-color: #575757;
}
#menuToggle {
    position: fixed;
    left: 20px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-menu ul li:hover {
    color: #f1f1f1;
}

.side-menu ul li a {
    color: #818181;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.side-menu ul li a i {
    margin-right: 10px;
}
.side-menu.open{
    width: 200px;
}
.main-section {
    position: relative;
    background: #E4E9F7;
    height: 100vh;
    left: 0px;
    width: calc(100% - 0px);
    transition: all 0.5s ease;
}
.side-menu.open ~ .main-section {
    left: 200px;
    width: calc(100% - 200px);
}

.tag-button {
    position: relative;
    display: inline-block;
    margin: 1px;
    padding: 10px 10px;
    background-color: #002c5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.tag-modal-button{
    position: relative;
    display: inline-block;
    margin: 1px;
    padding: 10px 10px;
    background-color: #002c5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.tag-button.selected {
    background-color: #0068d8;
}
.tag-modal-button.selected {
    background-color: #0068d8;
}
.tag-modal{position:fixed; top:10vh; left:50%; transform:translateX(-50%); 
    width: 80vw;
    max-height: 80vh;
    min-height: 20vh;
    color:white; 
    font-size:30px; font-weight:bold; z-index:2; display: none; 
    background-color: rgba(0, 0, 0, 0.1);
    align-content: center;
    overflow: scroll;
    z-index: 3;
}
.tag-modal-close { position: absolute; top: 0px; right: 0px; z-index: 999; 
    color: #f1f1f1; font-size: 40px; font-weight: bold; transition: 0.3s; z-index: 2;}
#existingTags {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.tag-index{
    display: inline-block;
}
