<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Browser</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <i class="fas fa-bars" id="menuToggle" onclick="toggleSideMenu()"></i> <!-- Lateral menu button -->
        <input type="text" id="searchBar" placeholder="Search media..." oninput="searchMedia(this)">
        <button onclick="searchMediaGlobal()">Global Search</button>
        <button onclick="toggleMediaCheckbox()">Multi Select</button>
    </header>
    <div id="sideMenu" onclick="foldSideMenu()" class="side-menu">
        <ul>
            <li><a href="/"><i class="fas fa-folder"></i> Folders</a></li>
            <li><a href="/all_media"><i class="fas fa-th-large"></i> All Medias</a></li>
            <li><a href="/all_videos"><i class="fas fa-video"></i> Videos</a></li>
            <li><a href="/clips"><i class="fas fa-film"></i> Clips</a></li>
            <li><a href="/tags"><i class="fas fa-tags"></i> Tags</a></li>
            <li><a href="/settings"><i class="fas fa-cog"></i> Settings</a></li>
        </ul>
    </div>
    <section id="mainSection" class="main-section">
        <div class="breadcrumb">
            <a href="{{ url_for(endpoint) }}">{{endpoint}}</a>
            {% for path in breadcrumb_paths %}
                <span>/</span>
                <a href="{{ url_for(endpoint, subpath='/'.join(breadcrumb_paths[:loop.index0+1])) }}">{{ path }}</a>
            {% endfor %}
        </div>
        {% if endpoint=="Tags" and breadcrumb_paths|length == 0 %}  <!-- Tag home page: tag list -->
            <div id="tagsHomePage">
                {% for tag, tag_pinyin in tags %}
                    <a href="{{ url_for(endpoint, subpath=subpath + '/' + tag) }}" class='tag-button' data-name="{{ tag }}" data-pinyin="{{ tag_pinyin }}" >
                        <input type="checkbox" class="grid-checkbox small-checkbox" data-name="{{ tag }}">
                        {{ tag }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        <div class="gallery-container">
            <div class="grid">
                {% for directory in directories %}
                <a href="{{ url_for(endpoint, subpath=subpath + '/' + directory) }}" class="grid-item directory-item" data-name="{{ directory }}" >
                    <input type="checkbox" class="grid-checkbox small-checkbox" data-name="{{ '/'.join(breadcrumb_paths) + '/' + directory }}">
                    {{ directory }}
                </a>
                {% endfor %}
                {% for media in medias %}
                <div class="grid-item media-item" data-name="{{ media }}" >
                    <input type="checkbox" class="grid-checkbox" data-name="{{ media }}">
                    {% if media.endswith('.mp4') or media.endswith('.webm') %}
                    <video class="lazy" data-src="{{ previews[loop.index0] }}" data-full="{{ media }}" onclick="openModal(this, 'video');" muted loop autoplay></video>
                    {% else %}
                    <img src="{{ media }}" data-full="{{ media }}" onclick="openModal(this, 'image');" alt="Gallery media" loading="lazy">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="mediaModal" class="modal">
            <div id="modalContentContainer" class="modal-media-container">
                <img id="img01" style="display:none;">
                <video id="video01" style="display:none;" controls autoplay loop playsinline></video>
            </div>
            <span id="mediaName" onclick="renameMedia()" style="display:block; position:absolute; top:18px; left:50%; transform:translateX(-50%); width: 100vw-10px; color:white; font-size:16px; font-weight:bold; z-index:1;"></span>
            <a class="close" onclick="closeModal();">X</a>
            <a class="prev" onclick="changeMedia(-1)">&lt;</a>  
            <a class="next" onclick="changeMedia(1)">></a>
            <span class="menu-btn" onclick="toggleModalMenu()">⋮</span>
            <div class="modal-menu" id="modalMenu">
                <a onclick="deleteMedia()">Delete</a>
                <a id="clipButton" onclick="clipMedia()">Clip</a>
                <a id="tagButton" onclick="showTagModal()">Tag</a>
                <a id="hideNameButton" onclick="toggleMediaName()">Toggle Name</a>
                <a id="goto" onclick="goToLocation()">Go to folder</a>
            </div>
            <span id="currentMediaTags" onclick="showTagModal()" style="position:absolute; bottom:50px; left:50%; transform:translateX(-50%); width: 100vw-10px; color:white; font-size:14px; font-weight:bold; z-index:1;"></span>
        </div>
        <div class="tag-modal" id="tagSelect">
            <input style="font-size: 20px" oninput="searchTagModal()" type="text" id="tagNameInput" placeholder="Type tag name here">
            <button style="font-size: 30px" onclick="createNewTag()">+</button>
            <button style="font-size: 30px" onclick="clearInput()">Clear</button>
            <button style="font-size: 30px" onclick="showOnlySelectedTagInModal()">Current</button>
            <button style="font-size: 30px" onclick="showLastUsedTagInModal()">Last used</button>
            <span style="position: sticky; top:0px; left:80%; font-size: 40px; font-weight: bold; z-index: 2;" onclick="closeTagModal()">X</span>
            <span style="position: sticky; top:0px; left:90%; font-size: 40px; font-weight: bold; z-index: 2" onclick="saveTags()">O</span>
            <div id="existingTags" class="d-flex flex-wrap" >
                {% for tag, tag_pinyin in tags %}
                <button class='tag-modal-button' data-name="{{ tag }}"  data-pinyin="{{ tag_pinyin }}" onclick="toggleSelected(this)" >
                    {{ tag }}
                </button>
                {% endfor %}
            </div>
        </div>
        <div class="bottom-bar" id="bottomBar">
            <button class="bottom-bar-btn" onclick="deleteSelected()"><i class="fas fa-trash"></i> Delete </button>
            <button class="bottom-bar-btn" onclick="renameSelected()"> Rename </button>
            <button class="bottom-bar-btn" onclick="toggleMediaCheckbox()">Select</button>
            <button class="bottom-bar-btn" onclick="cutSelected()">Cut</button>
            <button class="bottom-bar-btn" onclick="pasteSelected()">Paste</button>
            <button class="bottom-bar-btn" onclick="toggleTagModal()">Tag</button>
            {% if endpoint=="Tags" and breadcrumb_paths|length == 0 %}
            <button class="bottom-bar-btn" onclick="filterMediaWithTags('and')"> And </button>
            <button class="bottom-bar-btn" onclick="filterMediaWithTags('or')"> Or </button>
            <button class="bottom-bar-btn" onclick="filterMediaWithTags('hide')"> Hide </button>
            {% endif %}
        </div>
    </section>
    <script>
        // Initialize global variables from javascript context
        var medias = {{ medias|tojson|safe }};
        var endpoint = {{ endpoint|tojson|safe }};
        var media_tags = {{ media_tags|tojson|safe }};
        var subpath = {{subpath|tojson|safe}};
        var last_used_tags = {{last_used_tags|tojson|safe}};
    </script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
